HTTP_PORT=8080
INTIME_BASE_URL=https://intime.tsu.ru/api/web/v1
GROUP_ID=4d9906f9-2f03-11ef-815e-005056bc52bb
TIMEZONE=Asia/Tomsk
HTTP_TIMEOUT=10s
GOOGLE_CREDENTIALS_FILE=google-service-account.json
GOOGLE_CALENDAR_ID=
SQLITE_FILE=schedule.db
